# Copyright (C) 2012 The Android Open Source Project
#
# IMPORTANT: Do not create world writable files or directories.
# This is a common source of Android security bugs.
#

on early-init
    write /sys/fs/selinux/enforce 0
    setprop ro.config.tima 0
    exec u:r:init:s0 root root -- /volt/perm.sh
    
on init
    # EAS stune boosting interfaces
    chown system system /dev/stune/top-app/schedtune.boost
    chown system system /dev/stune/top-app/schedtune.prefer_idle
    chown system system /dev/stune/top-app/schedtune.prefer_perf
    chown system system /dev/stune/top-app/cgroup.procs

    chown system system /dev/stune/foreground/schedtune.boost
    chown system system /dev/stune/foreground/schedtune.prefer_idle
    chown system system /dev/stune/foreground/schedtune.prefer_perf
    chown system system /dev/stune/foreground/cgroup.procs

    chown system system /dev/stune/background/schedtune.boost
    chown system system /dev/stune/background/schedtune.prefer_idle
    chown system system /dev/stune/background/schedtune.prefer_perf
    chown system system /dev/stune/background/cgroup.procs

    chown system system /dev/stune/schedtune.boost
    chown system system /dev/stune/schedtune.prefer_idle
    chown system system /dev/stune/schedtune.prefer_perf
    chown system system /dev/stune/cgroup.procs

    write /dev/stune/top-app/schedtune.boost 20
    write /dev/stune/top-app/schedtune.prefer_idle 1
    write /dev/stune/top-app/schedtune.prefer_perf 0
    write /dev/stune/top-app/schedtune.util_est_en 1
    write /dev/stune/top-app/schedtune.ontime_en 1

    write /dev/stune/foreground/schedtune.boost 0
    write /dev/stune/foreground/schedtune.prefer_idle 0
    write /dev/stune/foreground/schedtune.prefer_perf 0
    write /dev/stune/foreground/schedtune.util_est_en 1
    write /dev/stune/foreground/schedtune.ontime_en 1

    write /dev/stune/background/schedtune.boost 0
    write /dev/stune/background/schedtune.prefer_idle 0
    write /dev/stune/background/schedtune.prefer_perf 0

    write /dev/stune/schedtune.boost 0

    # UFS readahead
    chmod 660 /sys/block/sda/queue/read_ahead_kb
    write /sys/block/sda/queue/read_ahead_kb 2048

    # SD card readahead
    chmod 660 /sys/block/mmcblk0/queue/read_ahead_kb

    # CPUSET(9810)
    chown system system /dev/cpuset/top-app/cpus
    chown system system /dev/cpuset/foreground/cpus
    chown system system /dev/cpuset/background/cpus
    chown system system /dev/cpuset/system-background/cpus
    chown system system /dev/cpuset/restricted/cpus
    chown system system /dev/cpuset/cpus
    chown radio system /dev/stune/top-app/schedtune.prefer_perf
    chown radio system /dev/stune/top-app/schedtune.prefer_idle
    chown radio system /dev/stune/top-app/schedtune.band
    chown radio system /dev/stune/top-app/schedtune.boost
    chown radio system /dev/stune/top-app/schedtune.util_est_en
    chown radio system /dev/stune/top-app/schedtune.ontime_en
    chown radio system /dev/stune/foreground/schedtune.prefer_perf
    chown radio system /dev/stune/foreground/schedtune.prefer_idle
    chown radio system /dev/stune/foreground/schedtune.band;
    chown radio system /dev/stune/foreground/schedtune.boost
    chown radio system /dev/stune/foreground/schedtune.util_est_en
    chown radio system /dev/stune/foreground/schedtune.ontime_en
    chown radio system /dev/stune/background/schedtune.prefer_perf
    chown radio system /dev/stune/background/schedtune.prefer_idle
    chown radio system /dev/stune/background/schedtune.band
    chown radio system /dev/stune/background/schedtune.boost
    chown radio system /dev/stune/background/schedtune.util_est_en
    chown radio system /dev/stune/background/schedtune.ontime_en
    chown radio system /sys/kernel/ems/ontime/coregroup0/lower_boundary
    chown radio system /sys/kernel/ems/ontime/coregroup0/upper_boundary
    chown radio system /sys/kernel/ems/ontime/coregroup0/coverage_ratio
    chown radio system /sys/kernel/ems/ontime/coregroup1/lower_boundary
    chown radio system /sys/kernel/ems/ontime/coregroup1/upper_boundary
    chown radio system /sys/kernel/ems/ontime/coregroup1/coverage_ratio
    chown radio system /sys/kernel/ems/lbt/overutil_ratio_level0
    chown radio system /sys/kernel/ems/lbt/overutil_ratio_level1
    chown radio system /sys/devices/system/cpu/cpufreq/policy0/schedutil/freqvar_boost
    chown radio system /sys/devices/system/cpu/cpufreq/policy0/schedutil/freqvar_up_rate_limit
    chown radio system /sys/devices/system/cpu/cpufreq/policy0/schedutil/freqvar_down_rate_limit
    chown radio system /sys/devices/system/cpu/cpufreq/policy0/schedutil/freqvar_upscale_ratio
    chown radio system /sys/devices/system/cpu/cpufreq/policy4/schedutil/freqvar_boost
    chown radio system /sys/devices/system/cpu/cpufreq/policy4/schedutil/freqvar_up_rate_limit
    chown radio system /sys/devices/system/cpu/cpufreq/policy4/schedutil/freqvar_down_rate_limit
    chown radio system /sys/devices/system/cpu/cpufreq/policy4/schedutil/freqvar_upscale_ratio

    chmod 664 /dev/cpuset/top-app/cpus
    chmod 664 /dev/cpuset/foreground/cpus
    chmod 664 /dev/cpuset/background/cpus
    chmod 664 /dev/cpuset/system-background/cpus
    chmod 664 /dev/cpuset/restricted/cpus
    chmod 664 /dev/cpuset/cpus
    chmod 0664 /dev/stune/top-app/schedtune.prefer_perf
    chmod 0664 /dev/stune/top-app/schedtune.prefer_idle
    chmod 0664 /dev/stune/top-app/schedtune.band
    chmod 0664 /dev/stune/top-app/schedtune.boost
    chmod 0664 /dev/stune/top-app/schedtune.util_est_en
    chmod 0664 /dev/stune/top-app/schedtune.ontime_en
    chmod 0664 /dev/stune/foreground/schedtune.prefer_perf
    chmod 0664 /dev/stune/foreground/schedtune.prefer_idle
    chmod 0664 /dev/stune/foreground/schedtune.band;
    chmod 0664 /dev/stune/foreground/schedtune.boost
    chmod 0664 /dev/stune/foreground/schedtune.util_est_en
    chmod 0664 /dev/stune/foreground/schedtune.ontime_en
    chmod 0664 /dev/stune/background/schedtune.prefer_perf
    chmod 0664 /dev/stune/background/schedtune.prefer_idle
    chmod 0664 /dev/stune/background/schedtune.band
    chmod 0664 /dev/stune/background/schedtune.boost
    chmod 0664 /dev/stune/background/schedtune.util_est_en
    chmod 0664 /dev/stune/background/schedtune.ontime_en
    chmod 0664 /sys/kernel/ems/ontime/coregroup0/lower_boundary
    chmod 0664 /sys/kernel/ems/ontime/coregroup0/upper_boundary
    chmod 0664 /sys/kernel/ems/ontime/coregroup0/coverage_ratio
    chmod 0664 /sys/kernel/ems/ontime/coregroup1/lower_boundary
    chmod 0664 /sys/kernel/ems/ontime/coregroup1/upper_boundary
    chmod 0664 /sys/kernel/ems/ontime/coregroup1/coverage_ratio
    chmod 0664 /sys/kernel/ems/lbt/overutil_ratio_level0
    chmod 0664 /sys/kernel/ems/lbt/overutil_ratio_level1
    chmod 0664 /sys/devices/system/cpu/cpufreq/policy0/schedutil/freqvar_boost
    chmod 0664 /sys/devices/system/cpu/cpufreq/policy0/schedutil/freqvar_up_rate_limit
    chmod 0664 /sys/devices/system/cpu/cpufreq/policy0/schedutil/freqvar_down_rate_limit
    chmod 0664 /sys/devices/system/cpu/cpufreq/policy0/schedutil/freqvar_upscale_ratio
    chmod 0664 /sys/devices/system/cpu/cpufreq/policy4/schedutil/freqvar_boost
    chmod 0664 /sys/devices/system/cpu/cpufreq/policy4/schedutil/freqvar_up_rate_limit
    chmod 0664 /sys/devices/system/cpu/cpufreq/policy4/schedutil/freqvar_down_rate_limit
    chmod 0664 /sys/devices/system/cpu/cpufreq/policy4/schedutil/freqvar_upscale_ratio

on boot
    write /sys/fs/selinux/enforce 0

on property:sys.boot_completed=1
    write /dev/cpuset/top-app/cpus 0-7
    write /dev/cpuset/foreground/cpus 0-2,4-7
    write /dev/cpuset/background/cpus 0-1
    write /dev/cpuset/restricted/cpus 0-2
    write /dev/cpuset/system-background/cpus 0-3

    ## end boot time fs tune
    write /sys/block/sda/queue/scheduler cfq
    write /sys/block/sda/queue/iosched/slice_idle 0
    write /sys/block/sda/queue/nr_requests 64
    write /sys/block/sda/queue/read_ahead_kb 128
    write /sys/block/sda/queue/rq_affinity 1

    # VM tunables for optimized IO performance
#    write /proc/sys/vm/dirty_expire_centisecs 2000
#    write /proc/sys/vm/dirty_writeback_centisecs 5000
    write /proc/sys/vm/dirty_expire_centisecs 3000
    write /proc/sys/vm/dirty_writeback_centisecs 3000
    write /proc/sys/vm/dirty_ratio 30
    write /proc/sys/vm/dirty_background_ratio 10
    write /proc/sys/vm/stat_interval 10
    write /proc/sys/net/ipv4/tcp_ecn 1
    write /proc/sys/net/ipv4/tcp_fastopen 3
    write /proc/sys/kernel/sched_nr_migrate 32
    write /proc/sys/kernel/sched_migration_cost_ns 5000000
    write /proc/sys/kernel/sched_tunable_scaling 0
    write /proc/sys/kernel/sched_child_runs_first 1
    write /proc/sys/kernel/sched_autogroup_enabled 1
    write /proc/sys/kernel/perf_cpu_time_max_percent 5
    
    # DriveDroid support
    mkdir /sys/kernel/config/usb_gadget/g1/functions/mass_storage.0
    symlink /sys/kernel/config/usb_gadget/g1/functions/mass_storage.0 /sys/kernel/config/usb_gadget/g1/configs/c.1/mass_storage.0
    stop proca
    stop secure_storage
   # Run
   exec u:r:magisk:s0 root root -- /volt/volt.sh
   write /sys/devices/virtual/timed_output/vibrator/enable 100
